<body>
    <div class="container">
      <div class="card blue">
        <h3 >Estudantes</h3>
        <p class="number">52</p>
      </div>
    
      <form class="form-search" onsubmit="return false;">
        <select id="category-select">
          <option value="">Selecionar Categoria &gt;</option>
          <option>Categoria A</option>
          <option>Categoria B</option>
          <option>Categoria C</option>
        </select>
        <button type="button" class="btn-new">Novo Cadastro</button>
        <input type="text" id="search-input" placeholder="Escreva aqui...">
        <button type="button" class="btn-search" id="search-btn">Buscar</button>
      </form>
      <div class="results" id="results"></div>
    </div>
  </body>

  <app-barralateral-secretaria></app-barralateral-secretaria>