* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.top-bar {
  background: #6795dc;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start; /* Alinha o conteúdo no topo */
  height: 50px; /* Defina a altura que você deseja */
}

.top-icons button {
  background: none;
  color: white;
  border: none;
  margin-left: 15px;
  font-size: 16px;
  cursor: pointer;
}

  
  /* ---------- RESPONSIVIDADE ---------- */
  @media (max-width: 768px) {
    
    .top-icons {
      display: flex;
      justify-content: center;
      width: 100%;
    }
  
    .top-bar {
      flex-direction: column;
      align-items: center;
      padding: 15px;
    }
  }