<div class="tela-principal">
    <header class="cabecalho">
      <img src="assets/Logo.jpg" alt="Logotipo" class="logo" />
      <span class="bem-vindo">Olá, Eudes dos Santos</span>
      <div class="icones">
        <div class="notificacao">🔔</div>
        <div class="perfil">👤</div>
      </div>
    </header>
  
    <div class="conteudo">
      <aside class="menu-lateral">
        <h3>Área Administrativa ></h3>
        <ul>
          <li>📋 Confirmação da Matrícula</li>
          <li class="ativo">📚 Disciplinas em atraso</li>
          <li>📝 Minhas Notas</li>
        </ul>
  
        <h3>Reclamações ></h3>
        <ul>
          <li>🗓️ Minhas Reclamações</li>
          <li>🗓️ Nova Reclamação</li>
        </ul>
      </aside>
  
      <main class="painel">
        <div class="container-principal">
            <div class="caixa-branca">
              <h3 class="titulo">Disciplinas em Atraso</h3>

             <div class="filtro">
              <div class="filtro-box">
                <label for="anoSelect">Ano Acadêmico</label>
                 <select id="anoSelect" [(ngModel)]="anoSelecionado">
                  <option *ngFor="let ano of anosDisponiveis" [ngValue]="ano">{{ ano }}º</option>
                </select>
              </div>
             </div>
              <div class="tabela">
                <table>
                  <thead>
                    <tr>
                      <th>Nº</th>
                      <th>Cadeira</th>
                      <th>Ano Acadêmico</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let disciplina of disciplinasFiltradas">
                      <td>{{ disciplina.id }}</td>
                      <td>{{ disciplina.nome }}</td>
                      <td>{{ disciplina.ano }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          
      </main>
      
    </div>
  </div>
  
