
<div style="margin-left:220px;margin-top: 80px; padding:20px;">
    <h2 style="text-align:center;">Total de Funcionários: <span></span></h2>
  
    <div style="display: flex; flex-wrap: wrap; justify-content: center; align-items: center; margin-top: 20px; gap: 10px;">
      <select name="Funções" id="funções">
        <option value="Professores"></option>
        <option value="Secretários"></option>
      </select>
      <div>
        <label for="search">Pesquisar Funcionários</label><br>
        <input type="text" id="search" placeholder="Escreva aqui..." style="padding: 5px; width: 550px;">
        <button style="padding: 6px 10px; background-color: #333; color: white; border: none;">Buscar</button>
      </div>
    </div>
  
    <div class="scroll-container" style="background-color:white; margin-top: 10px; border:1px solid #ccc; height: 300px; width: 800px;margin-left: 230px;">
      <!-- Conteúdo dinâmico vai aqui -->
    </div>
  </div>

  <app-barralateral-secretaria></app-barralateral-secretaria>