
/* Quadro principal do estudante */
.quadro {
  background: #fff;
  padding: 28px;
  border-radius: 12px;
  margin: 150px auto;
  max-width: 700px;
  width: 100%;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  margin-left: 620px;
  height: 15%;
}

/* Link para provas */
.ver-provas {
  text-decoration: none;
  font-weight: bold;
  color: #007bff;
  font-size: 15px;
  cursor:pointer;
}

.ver-provas:hover {
  text-decoration: underline;
}

/* Lista de eventos */
.lista-eventos {
  list-style: none;
  padding-left: 0;
  margin-top: 25px;
}

.lista-eventos li {
  padding: 12px;
  border-bottom: 1px solid #eee;
  font-size: 15px;
  line-height: 1.6;
}

.lista-eventos li strong {
  color: #444;
  margin-right: 6px;
}

/* Responsividade */
@media (max-width: 1024px) {
  .titulo-container {
    margin-left: 220px;
    width: calc(100% - 300px);
    max-width: 520px;
  }

  .quadro {
   margin: 60px auto;
   width: 100%;
    max-width: 660px;
  }
}

@media (max-width: 768px) {
  .titulo-container {
    margin-left: 180px;
    width: calc(100% - 240px);
    max-width: 480px;
  }

  .quadro {
    margin: 180px auto;
    width: 90%;
    
   }

  .ver-provas {
    font-size: 14px;
  }

  .lista-eventos li {
    font-size: 14px;
  }
}