<div class="container">
  <form class="form-search" (submit)="false">
    <select [(ngModel)]="cargoSelecionado" name="cargoSelecionado" class="form-control">
      <option [ngValue]="''">Todos os Cargos</option>
      <option *ngFor="let c of CARGOS" [ngValue]="c">{{ c }}</option>
    </select>
  
    <input [(ngModel)]="textoBusca" name="textoBusca" type="text" placeholder="Pesquisar por nome..." />
  </form>
  
  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Documento</th>
        <th>Cargo</th>
       
      </tr>
    </thead>
    <tbody *ngIf="funcionariosFiltrados.length > 0; else nenhumFuncionario">
      <tr *ngFor="let f of funcionariosFiltrados">
        <td>{{ f.nome }}</td>
        <td>{{ f.numDocumento }}</td>
        <td>{{ f.cargo }}</td>
   
      </tr>
    </tbody>
  </table>
  
  <ng-template #nenhumFuncionario>
    <tr>
      <td colspan="4">Nenhum funcionário encontrado.</td>
    </tr>
  </ng-template>
  
</div>

<app-barralateral></app-barralateral>
