
<!-- TÍTULO -->
<div class="titulo-container">
  <h2 class="titulo">📅 Calendário de Atividades</h2>
</div>

<!-- CONTEÚDO PRINCIPAL COM BLUR CONDICIONAL -->
<main class="quadro" [class.blur]="mostrarFormulario">
  <div class="acoes-topo">
  <a class="ver-provas" (click)="baixarCalendarioPDF()">
   Baixar Calendário de Provas
  </a>
    <button class="botao" (click)="toggleFormulario()">➕ Adicionar Evento</button>
  </div>

  <ul class="lista-eventos">
    <li *ngFor="let evento of eventos">
      <strong>{{ evento.data | date:'shortDate' }}</strong> —
      <span class="titulo-evento">{{ evento.titulo }}</span>
      <p class="conteudo">{{ evento.conteudo }}</p>
    </li>
  </ul>
</main>

<!-- FORMULÁRIO EM OVERLAY -->
<div *ngIf="mostrarFormulario" class="overlay">
  <div class="form-container">
    <form (ngSubmit)="salvarEvento()" #eventoForm="ngForm">
      <button type="button" class="close-btn" (click)="fecharFormulario()">X</button>
    
      <label for="data">Data</label>
      <input type="date" id="data" name="data" [(ngModel)]="data" required />
    
      <label for="titulo">Título</label>
      <input type="text" id="titulo" name="titulo" [(ngModel)]="titulo" required />
    
      <label for="conteudo">Conteudo</label>
      <input type="text" id="conteudo" name="conteudo" [(ngModel)]="conteudo" required />
    
      <input type="hidden" name="calendarStatus" value="VALIDO" />
    
      <button type="submit" class="btn-salvar">Salvar</button>
    </form>
    
  </div>
</div>

<!-- TOAST DE SUCESSO -->
<div *ngIf="mostrarToast" class="toast">
  Evento salvo com sucesso!
</div>

<app-barralateral></app-barralateral>