   
  
 <body>
 
 <div class="card">
    <h3>Dados Pessoais</h3>
    <div class="form-group">
      <label for="nome">Nome</label>
      <input type="text" id="nome" placeholder="Digite seu nome">
    </div>
    <div class="form-group">
      <label for="gmail">Gmail</label>
      <input type="email" id="gmail" placeholder="Digite seu email">
    </div>
    <div class="form-group">
      <label for="contato">Contato</label>
      <input type="tel" id="contato" placeholder="(XX) XXXXX-XXXX">
    </div>
    <div class="form-group">
      <label for="idade">Idade</label>
      <input type="number" id="idade" placeholder="Digite sua idade">
    </div>
    <div class="buttons">
      <button type="submit">Actualiza dados</button>
     
    </div>
<p class="odete">+ configuração</p>
    
    <div class="buttons">
    
      <button type="reset">Altera senha</button>
    </div>

  </div>

</body>

