<!-- Sidebar -->
<div class="sidebar">
    <img src="assets/imagens/Logo.jpg" alt="Logo">
 
    <ul>
        <div class="abas">
            <li>
              <a routerLink="/home" class="menu-link">
                <img src="assets/icones/prof.png" alt="Ícone">
                <span>Area administrativa</span>
              </a>
            </li>
            <li>
                <a routerLink="/home" class="menu-link">
                  <img src="assets/icones/aluno.png" alt="Ícone">
                  <span>Reclamações</span>
                </a>
              </li>
             
            
             
             
          </div> 
     
    
    </ul>

  

   
 
   
  

