
<main>
    <div class="principal">
    </div>

    <div class="main-wrapper">
        <p class="texto">Aprovar Comunicados</p>

        <div class="main">
            <div class="caixa">
                <div>
                    <p>Destinatário</p>
                    <select name="" id="">
                        <option value="">Todos os estudantes</option>
                    </select>
                    <br><br>
                    <p>Assunto</p>
                    <input type="text" placeholder="Digite o tipo de Assunto">
                </div>

                <div class="caixa2">
                    <button class="btn-azul">Aprovar</button>
                    <button class="btn-preto">Editar</button>
                </div>
            </div>

            <p>Descrição</p>
            <div>
                <textarea name="msg" id="msg">
Lorem 
ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur earum tenetur minima, odio doloribus tempore ut delectus ad temporibus amet corporis vitae maiores, quia accusamus perspiciatis recusandae consectetur distinctio! Magni.
                </textarea>
            </div>
        </div>
    </div>
</main>
<app-barralateral></app-barralateral>