<!--
<div class="container">
 
<div class="card">
  <img src="assets/icones/perfil.png" alt="Perfil" />
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>

  <div *ngIf="estudantes.length > 0; else noEstudantes">
 

      <div *ngFor="let estudante of estudantes">
        
        <p><strong>Nome:</strong> {{ estudante.nome}}</p>
        <p><strong>Apelido:</strong>{{ estudante.apelido}}</p>
        <p><strong>Data Nasc:</strong>{{estudante.dataNascimento| date:'shortDate' }}  </p>
        <p><strong>Identificação:</strong>{{ estudante.numIdentificacao}}</p>
        <p><strong>Contacto:</strong>{{ estudante.contacto}}</p>
        <p><strong>Data Ingresso:</strong>{{estudante.dataIngresso| date:'shortDate' }} </p>
        
      </div>
    </div>
  <ng-template #noEstudantes>
    <p>Nenhum estudante encontrado.</p>
  </ng-template>
  </div>
</div>
-->