<div class="form-container">
  <form (ngSubmit)="salvarEvento()" #eventoForm="ngForm">
    <button type="button" class="close-btn" (click)="fecharFormulario()">X</button>

    <label for="data">Data</label>
    <input
      type="text"
      id="data"
      name="data"
      placeholder="dd/mm/aaaa"
      [(ngModel)]="data"
      required
    />

    <label for="titulo">Título</label>
    <input
      type="text"
      id="titulo"
      name="titulo"
      [(ngModel)]="titulo"
      required
    />

    <label for="tipo">Tipo</label>
    <input
      type="text"
      id="tipo"
      name="tipo"
      [(ngModel)]="tipo"
      required
    />

    <label for="link">Link (Opcional)</label>
    <input
      type="text"
      id="link"
      name="link"
      [(ngModel)]="link"
    />

    <button type="submit" class="btn-salvar">Salvar</button>
  </form>
</div>
