<body>
 
    <main class="conteudo">
        
        <div class="cards-container">
          <div class="card orange">
            <h3>Estudantes Matriculados</h3>
            <p class="number">95</p>
          </div>
      
          <div class="card blue">
            <h3>Funcionários</h3>
            <p class="number">27</p>
          </div>
      
          <div class="card gray">
            <h3>Cadeiras</h3>
            <p class="number">52</p>
          </div>
      
          <div class="card yellow">
            <h3>Salas</h3>
            <p class="number">7</p>
          </div>
        </div>
        <div class="cards-graficos">
            <div class="caixa">
            <h3>Estatística Geral</h3>
            
        </div>
        <div class="caixa">
            <h3>Estudantes Matriculados nos Últimos anos</h3>
            
        </div>
        </div>
      </main>
      
      
    </body>
    <app-barralateral></app-barralateral>
  

