

<div class="container">

    <main class="main-content">
  
      <section class="form-section">
        <div class="table-section">
            <div class="caixa">
                <h3>Dados Acadêmicos</h3>
            </div>
            <br>
            <div class="caixa">
                <h3>Disciplinas a Fazer</h3>
            </div>
            <br>
            <div class="caixa">
                <h3>Disciplinas em Atraso</h3>
            </div>
          <br><br>
        </div>
  
        <div class="pagination">
          <span class="page active">1</span>
          <span class="page active">2</span>
          <span class="page">3</span>
        </div>
        <button class="confirm-btn">Confirmar</button>
      </section>
    </main>
  </div>
<app-lateral></app-lateral>
