.matricula-container {
  max-width: 600px;
  margin: 80px auto;
  padding: 8px;
}
.secao {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 8px;
  margin-bottom: 15px;
  background-color: #fff;
   overflow: hidden;
   padding-top: 40px;
    min-height: auto;
  height: auto;
}

.secao-titulo {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #47B5FF;
  text-align: center;
  padding: 10px;
  border-radius: 4px;
  margin: 0px;
  font-size: 14px;
  width: 98%;
}

.grid-dados {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  font-size: 13px;
}

ul {
  list-style-type: none;
  padding-left: 0;
  font-size: 13px;
}

li {
  padding: 3px 0;
  border-bottom: 1px solid #eee;
}

/* Paginação */
.pagination {
 display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 20px;
}
.page {
  width: 28px;
  height: 28px;
  border: 1px solid #47B5FF;
  border-radius: 50%;
  text-align: center;
  line-height: 26px;
  font-weight: bold;
  font-size: 14px;
  color: #47B5FF;
  background-color: white;
}

.page.active {
  background-color: #47B5FF;
  color: white;
}

/* Botão */
.back-btn{
  display: block;
  margin: 0 auto;
  padding: 10px 16px;
  background-color: #47B5FF;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-left: 210px;
}

.confirm-btn {
  display: block;
  margin: 0 auto;
  padding: 10px 16px;
  background-color: #47B5FF;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-right: 210px;
  
}

.confirm-btn:hover {
  background-color: #0056b3;
}


.back-btn:hover {
  background-color: #0056b3;
}
.button-container {
  display: flex;  
}
.alert {
  padding: 10px 15px;
  border-radius: 6px;
  margin-bottom: 20px;
  font-weight: 500;
}

.alert-success {
  background-color: #e9f8ef;
  color: #2c7a4b;
  border: 1px solid #c3e6cb;
}

.alert-danger {
  background-color: #fbeaea;
  color: #c0392b;
  border: 1px solid #e0b4b4;
}


/* Responsivo */
@media (max-width: 600px) {
  .matricula-container{
    margin: 100px auto;
    margin-right: 1%;
  }
  .grid-dados {
    grid-template-columns: 1fr;
  }

    .back-btn{
      margin-left: 85px;
    }
  }


