<div class="container">
  <section class="form-section"> 
    <div class="table-section">
        <h3 class="secao-titulo">Visualização da Pauta</h3>

        <label for="disciplinaSelect"><strong>Disciplina</strong></label>

        <select id="disciplinaSelect" *ngIf="disciplinaSelecionada" [(ngModel)]="disciplinaSelecionada" (change)="onDisciplinaChange()" class="form-control">
          <option *ngFor="let d of disciplinas" [ngValue]="d">{{ d.nome }}</option>
        </select>

    <div class="info-cadeira">
      <p><strong>Disciplina selecionada:</strong> {{ disciplinaSelecionada.nome }}</p>
    </div>

      <table class="table table-bordered mt-4">
        <thead>
          <tr>
            <th>Nome</th>
            <th>AC1</th>
            <th>AC2</th>
            <th>PF1</th>
            <th>PF2</th>
            <th>Exame Época Normal</th>
            <th>Exame de Recurso</th>
            <th>Exame Oral</th>
            <th>Exame Especial</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let e of estudantes">
            <td>{{ e.estudanteNome }}</td>
            <td>{{ e.ac1 }}</td>
            <td>{{ e.ac2 }}</td>
            <td>{{ e.p1 }}</td>
            <td>{{ e.p2 }}</td>
            <td>{{ e.exame }}</td>
            <td>{{ e.exameRecurso }}</td>
            <td>{{ e.exameOral }}</td>
            <td>{{ e.exameEspecial }}</td>
          </tr>
        </tbody>
      </table>
    </div>
</section>
   <div class="button-container">
      <button class="confirm-btn" (click)="aprovar()">✅ Aprovar Edição de Pauta</button>
      <button class="back-btn" (click)="rejeitar()">❌ Rejeitar Edição de Pauta</button>
   </div>
</div>

<!-- Modal de Alerta com botão OK -->
<div class="modal-overlay" *ngIf="mostrarModalOk">
  <div class="modal-content">
    <h4>{{ tituloModal }}</h4>
    <p>{{ mensagemModal }}</p>
    <div class="modal-actions">
      <button (click)="fecharModalOk()">OK</button>
    </div>
  </div>
</div>

<!-- Modal de Confirmação -->
<div class="modal-overlay" *ngIf="mostrarModalConfirmacao">
  <div class="modal-content">
    <h4>{{ tituloModal }}</h4>
    <p>{{ mensagemModal }}</p>
    <div class="modal-actions">
      <button (click)="confirmarAcao()">Confirmar</button>
      <button (click)="cancelarAcao()">Cancelar</button>
    </div>
  </div>
</div>

<!-- Modal de Motivo de Rejeição -->
<div class="modal-overlay" *ngIf="mostrarModalRejeicao">
  <div class="modal-content">
    <h4>Motivo da Rejeição</h4>
    <textarea [(ngModel)]="motivoRejeicao" rows="4" class="form-control"></textarea>
    <div class="modal-actions">
      <button (click)="confirmarRejeicao()">Enviar</button>
      <button (click)="cancelarRejeicao()">Cancelar</button>
    </div>
  </div>
</div>