
<div style="margin-left:220px;margin-top: 100px; padding:20px;">
    <h2 style="text-align:center;">Total de Funcionários: <span></span></h2>
  
    <div style="display: flex; flex-wrap: wrap; justify-content: center; align-items: center; margin-top: 120px; gap: 10px;">
      <button style="padding: 10px; background-color: #47B5FF; color: white; border: none; border-radius: 5px;">Selecionar Função</button>
      <div>
        <label for="search">Pesquisar Funcionários</label><br>
        <input type="text" id="search" placeholder="Escreva aqui..." style="padding: 5px; width: 550px;">
        <button style="padding: 6px 10px; background-color: #333; color: white; border: none;">Buscar</button>
      </div>
    </div>
  
    <div class="scroll-container" style="background-color:white; margin-top: 20px; border:1px solid #ccc; height: 300px; width: 800px;">
      <!-- Conteúdo dinâmico vai aqui -->
    </div>
  </div>
  <app-barralateral></app-barralateral>