
<link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">



<div class="hamburger" (click)="toggleMenu()" tabindex="0" (keyup.enter)="toggleMenu()">☰</div>


<!-- Barra superior -->
<div class="supbar">
 
</div>

<!-- Sidebar -->
<nav class="sidebar" [class.active]="menuAtivo">
  <ul>
    <div class="scroll-container">
      <li>
        <a class="menu-link" [ngClass]="{ ativo: abaSelecionada === 'Dados Gerais' }">
          <i class='bx bx-home'></i>
          <span (click)="selecionarMenu('Dados Gerais','Dados Gerais')">Geral</span>
        </a>
      </li>
      
      <li>
        <a class="menu-link" [ngClass]="{ ativo: abaSelecionada === 'Estudantes' }">
          <i class='bx bx-group'></i>
          <span (click)="selecionarMenu('Estudantes','Estudantes')">Estudantes</span>
        </a>
      </li>
      
      <!-- Repita para os demais itens -->
      
         
           
        <li> <a  class="menu-link" [ngClass]="{ ativo: abaSelecionada === 'Matrículas' }"> <i class='bx bx-file'></i>
          <span  (click)="selecionarMenu('Matrículas','Matrículas')" tabindex="0" (keyup.enter)="selecionarMenu('Matrículas','Matrículas')">Matrículas</span></a></li>
          <li>
            <a class="menu-link" [ngClass]="{ ativo: abaSelecionada === 'Confirmacões' }">
              <i class='bx bx-group'></i>
              <span (click)="selecionarMenu('Confirmacões','Confirmacões')">Confirmacões</span>
            </a>
          </li>
      
        <li> <a  class="menu-link" [ngClass]="{ ativo: abaSelecionada === 'Disciplinas' }"> <i class='bx bx-book-open'></i>
           <span (click)="selecionarMenu('Disciplinas','Disciplinas')" tabindex="0" (keyup.enter)="selecionarMenu('Disciplinas','Disciplinas')">Disciplinas</span> </a> </li>
                   
         <li> <a class="menu-link" [ngClass]="{ ativo: abaSelecionada === 'Horários' }"> <i class='bx bx-time'></i>
           <span  (click)="selecionarMenu('Horários','Horários')"tabindex="0" (keyup.enter)="selecionarMenu('Horários','Horários')">Horários</span> </a></li>
               
           <li> <a  class="menu-link" [ngClass]="{ ativo: abaSelecionada === 'Pautas' }"> <i class='bx bx-list-check'></i>
            <span (click)="selecionarMenu('Pautas','Pautas')"tabindex="0" (keyup.enter)="selecionarMenu('Pautas','Pautas')">Pautas</span> </a> </li>
            
           <li><a  class="menu-link" [ngClass]="{ ativo: abaSelecionada === 'Calendário' }"> <i class='bx bx-calendar'></i>
             <span (click)="selecionarMenu('Calendário','Calendário')" tabindex="0" (keyup.enter)="selecionarMenu('Calendário','Calendário')">Calendário</span></a></li>
                  
            <li> <a  class="menu-link" [ngClass]="{ ativo: abaSelecionada === 'Chat' }">  <i class='bx bx-chat'></i>
           <span  (click)="selecionarMenu('Chat','Chat')"tabindex="0" (keyup.enter)="selecionarMenu('Chat','Chat')">Chat</span></a> </li>
                  
           <li> <a  class="menu-link" [ngClass]="{ ativo: abaSelecionada === 'Comunicados' }"> <i class='bx bx-notification'></i>
             <span (click)="selecionarMenu('Comunicados','Comunicados')" tabindex="0" (keyup.enter)="selecionarMenu('Comunicados','Comunicados')">Comunicados</span></a></li>
                  
 
<li> <a class="menu-link" > <i class='bx bx-log-out'></i>
  <span (click)="selecionarMenu('Sair','Sair')"  tabindex="0" (keyup.enter)="selecionarMenu('Sair','Sair')">Sair</span> </a> </li>
    </div>
  </ul>
</nav>
