
<<<<<<< HEAD

=======
*{
  margin: 0;
  padding: 0;
}
>>>>>>> Dev
.card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    padding: 5px;
    border: 1px solid #333;
    transition: transform 0.2s ease;
    width: 180px;
    height: 80px;
    margin-bottom: 2%;
  
  }
  .card.blue {
    border-left: 5px solid orange;
  
  }
  .card h3 {
    font-size: 14px;
    color: #444;
    margin: 0;
   
  }
  
  .card .number {
    font-size: 32px;
    font-weight: bold;
    margin-top: 8px;
   
  }
<<<<<<< HEAD
  body {
    margin: 0;
    padding: 0;
    height: 100%;
  }body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    padding: 20px;
    width: 100%;
    overflow-y: hidden;
  }
  .container { max-width:1000px; margin:0 auto;margin-top: 7%; margin-left: 22%;}
  
=======
body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    padding: 20px;
    width: 100%;
    overflow-y: hidden;
    height: 100vh;
  }
  .container { max-width:1000px; margin:0 auto;margin-top: 7%; margin-left: 22%;}
>>>>>>> Dev
  h2 { margin:24px 0 12px; font-size:16px; text-transform:uppercase; color:#333; }
  .form-search { display:flex; flex-wrap:wrap; gap:8px; margin-bottom:16px; }
  .form-search select, .form-search input { flex:1; min-width:120px; padding:8px 12px; font-size:14px; border:1px solid #ccc; border-radius:4px; }
  .form-search button { padding:8px 12px; font-size:14px; border:none; border-radius:4px; cursor:pointer; }
  .btn-new { background:#009cff; color:#fff; }
  .btn-search { background:#222; color:#fff; }
  .results { background:#fff; border-radius:8px; height:200px; }

   
  @media (max-width: 768px) {
    body {
      font-family: Arial, sans-serif;
      background: #f4f4f4;
    
    }
    .container {
<<<<<<< HEAD
      margin: 30% auto 0 auto;  /* Centraliza horizontalmente e dá espaço superior */
=======
      margin: 30% auto 0 auto;  
>>>>>>> Dev
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 80%;
      overflow-x: hidden;
      
    }
    .results { background: #fff; 
      border-radius: 8px; padding: 16px;
       box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
       width: 100%;
       height: 85%;
  }

  }
  