<div class="login-container">
  <div class="login-box animated-fade-in">
    <img src="assets/imagens/logo-feuan.png" alt="logotipo" />
    <p>
      Faculdade de Engenharia <br />
      Departamento de Informática <br /><br />
    </p>

    <form [formGroup]="loginForm" (ngSubmit)="entrar()">
      <fieldset>
        <legend>Faça Login</legend>

        <div class="input-group">
          <label for="email">Email</label>
          <input
            id="email"
            type="email"
            formControlName="email"
            placeholder="Digite seu email"
          />
          <div class="error-message" *ngIf="loginForm.get('email')?.touched">
            <span *ngIf="loginForm.get('email')?.hasError('required')">Este campo é obrigatório!</span>
            <span *ngIf="loginForm.get('email')?.hasError('email')">Email inválido!</span>
          </div>
        </div>

        <div class="input-group">
          <label for="senha">Senha</label>
          <input
            id="senha"
            type="password"
            formControlName="senha"
            placeholder="Digite sua senha"
          />
          <div
            class="error-message"
            *ngIf="loginForm.get('senha')?.touched && loginForm.get('senha')?.hasError('required')"
          >
            Este campo é obrigatório!
          </div>
        </div>

        <div class="input-group">
          <button class="btn" type="submit">
            <i class="bx bx-log-in"></i> Entrar
          </button>
        </div>
      </fieldset>
    </form>

    <div class="mensagem-login" *ngIf="mensagemLogin" [ngClass]="tipoMensagem">
      {{ mensagemLogin }}
    </div>

    <div class="esqueci-senha">
      <a href="#" (click)="abrirModal($event)">Esqueci a senha</a>
    </div>
  </div><!-- Modal de Recuperação -->
  <div class="modal-overlay" *ngIf="mostrarModal">
    <div class="modal">
      <p>Digite seu Email para continuar</p>
  
      <form [formGroup]="recuperarForm" (ngSubmit)="recuperar()">
        <input
          type="email"
          formControlName="email"
          placeholder="Digite seu email"
        />
        <div class="error-message" *ngIf="recuperarForm.get('email')?.touched">
          <span *ngIf="recuperarForm.get('email')?.hasError('required')">O Email é obrigatório!</span>
          <span *ngIf="recuperarForm.get('email')?.hasError('email')">Email inválido!</span>
        </div>
  
        <div class="modal-buttons">
          <button type="button" (click)="fecharModal()">Cancelar</button>
          <button type="submit" >Continuar</button>
        </div>
      </form>
    </div>
  </div>
  