.matricula-container {
  max-width: 600px;
<<<<<<< HEAD
  margin: 150px auto;
  padding: 8px;
  margin-left: 550px;
}

=======
  margin: 80px auto;
  padding: 8px;
}
>>>>>>> 46f4c6bbc9486c55f0c5325a67c6f3fb90f2a81f
.secao {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 20px;
<<<<<<< HEAD
  padding: 40px 8px 8px 8px;
  margin-bottom: 15px;
  background-color: #fff;
  overflow: hidden;
=======
  padding: 8px;
  margin-bottom: 15px;
  background-color: #fff;
   overflow: hidden;
   padding-top: 40px;
>>>>>>> 46f4c6bbc9486c55f0c5325a67c6f3fb90f2a81f
}

.secao-titulo {
  position: absolute;
  top: 0;
  left: 0;
<<<<<<< HEAD
  text-align: center;
  padding: 10px;
  border-radius: 4px;
  font-size: 14px;
  width: 98%;
  margin: 0;
=======
  background-color: #47B5FF;
  text-align: center;
  padding: 10px;
  border-radius: 4px;
  margin: 0px;
  font-size: 14px;
  width: 98%;
>>>>>>> 46f4c6bbc9486c55f0c5325a67c6f3fb90f2a81f
}

.grid-dados {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  font-size: 13px;
}

.mensagem {
  margin-top: 15px;
  color: #333;
  font-weight: bold;
}

<<<<<<< HEAD
.pagination {
  display: flex;
=======
/* Paginação */
.pagination {
 display: flex;
>>>>>>> 46f4c6bbc9486c55f0c5325a67c6f3fb90f2a81f
  justify-content: center;
  gap: 8px;
  margin-bottom: 20px;
}
<<<<<<< HEAD

=======
>>>>>>> 46f4c6bbc9486c55f0c5325a67c6f3fb90f2a81f
.page {
  width: 28px;
  height: 28px;
  border: 1px solid #47B5FF;
  border-radius: 50%;
  text-align: center;
  line-height: 26px;
  font-weight: bold;
  font-size: 14px;
  color: #47B5FF;
  background-color: white;
}
<<<<<<< HEAD
.page:hover{
  cursor: pointer;
}
=======

>>>>>>> 46f4c6bbc9486c55f0c5325a67c6f3fb90f2a81f
.page.active {
  background-color: #47B5FF;
  color: white;
}

<<<<<<< HEAD
.button-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 20px;
}

.print-container {
  text-align: center;
  margin-top: 10px;
}

.back-btn,
.confirm-btn,
.print-btn {
=======
/* Botão */
.back-btn{
  display: block;
  margin: 0 auto;
>>>>>>> 46f4c6bbc9486c55f0c5325a67c6f3fb90f2a81f
  padding: 10px 16px;
  background-color: #47B5FF;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.3s ease;
<<<<<<< HEAD
}

.back-btn:hover,
.confirm-btn:hover,
=======
  margin-left: 210px;
}
.confirm-btn {
  display: block;
  margin: 0 auto;
  padding: 10px 16px;
  background-color: #47B5FF;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-right: 210px;
  }
  .print-btn {
  background-color: #47B5FF;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
}

>>>>>>> 46f4c6bbc9486c55f0c5325a67c6f3fb90f2a81f
.print-btn:hover {
  background-color: #0056b3;
}

<<<<<<< HEAD
=======

>>>>>>> 46f4c6bbc9486c55f0c5325a67c6f3fb90f2a81f
.button-container {
  display: flex;  
}

.confirm-btn:hover {
  background-color: #0056b3;
}
.back-btn:hover {
  background-color: #0056b3;
}
<<<<<<< HEAD
=======

>>>>>>> 46f4c6bbc9486c55f0c5325a67c6f3fb90f2a81f
button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

<<<<<<< HEAD

/* Responsivo geral */
@media (max-width: 600px) {
  .matricula-container {
    padding: 12px;
    margin: 200px auto;
    overflow-y: auto;
  }

  .secao-titulo {
    font-size: 13px;
    padding: 6px 10px;
  }

  .page {
    width: 28px;
    height: 28px;
    line-height: 28px;
  }
}