.matricula-container {
  max-width: 600px;
  margin: 80px auto;
  padding: 8px;
}
.secao {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 8px;
  margin-bottom: 15px;
  background-color: #fff;
   overflow: hidden;
   padding-top: 40px;
}

.secao-titulo {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #47B5FF;
  text-align: center;
  padding: 10px;
  border-radius: 4px;
  margin: 0px;
  font-size: 14px;
  width: 98%;
}

.grid-dados {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  font-size: 13px;
}

.mensagem {
  margin-top: 15px;
  color: #333;
  font-weight: bold;
}

/* Paginação */
.pagination {
 display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 20px;
}
.page {
  width: 28px;
  height: 28px;
  border: 1px solid #47B5FF;
  border-radius: 50%;
  text-align: center;
  line-height: 26px;
  font-weight: bold;
  font-size: 14px;
  color: #47B5FF;
  background-color: white;
}
.page:hover{
  cursor: pointer;
}
.page.active {
  background-color: #47B5FF;
  color: white;
}

/* Botão */
.back-btn{
  display: block;
  margin: 0 auto;
  padding: 10px 16px;
  background-color: #47B5FF;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-left: 210px;
}
.confirm-btn {
  display: block;
  margin: 0 auto;
  padding: 10px 16px;
  background-color: #47B5FF;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-right: 210px;
  }
  .print-btn {
  background-color: #47B5FF;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
}

.print-btn:hover {
  background-color: #0056b3;
}

.button-container {
  display: flex;  
}

.confirm-btn:hover {
  background-color: #0056b3;
}
.back-btn:hover {
  background-color: #0056b3;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

/* Responsividade */
@media screen and (width: 375px) and (height: 667px){
  .matricula-container {
    margin-top: 91px;

    .back-btn{
      margin-left: 85px;
    }
  }
}
@media screen and (width: 414px) and (height: 896px) {
      .matricula-container {
        margin-top: 105px;
        padding: 18px;
      }
      .back-btn{
      margin-left: 95px;
    }

    }
   @media screen and (width: 390px) and (height: 844px) {
      .back-btn{
      margin-left: 90px;
    }
    }

 @media screen and (width: 430px) and (height: 932px) {
      .matricula-container {
        margin-top: 100px;
        padding: 18px;
      }
      .back-btn{
      margin-left: 95px;
    }
    }
     @media screen and (width: 412px) and (height: 914px) {
     .matricula-container {
        margin-top: 100px;
      }
      .back-btn{
      margin-left: 110px;
    }

    }
  @media screen and (width: 412px) and (height: 915px) {
       .matricula-container {
        margin-top: 100px;
        padding: 18px;
      }
      .back-btn{
      margin-left: 95px;
    }
    }

 @media screen and (width: 360px) and (height: 740px) {
      .matricula-container {
        margin-top: 80px;
      }
      .back-btn{
      margin-left: 80px;
    }
    }
     @media screen and (width: 768px) and (height: 1024px) {
      .matricula-container{
        margin-top: 105px;
      }
    }
     @media screen and (width: 820px) and (height: 1180px) {
      .matricula-container {
        margin-top: 150px;
      }

    }
     @media screen and (width: 1024px) and (height: 1366px) {
      .matricula-container {
        margin-top: 130px;
      }
    }

 @media screen and (width: 912px) and (height: 1368px) {
      .matricula-container {
        margin-top: 180px;
      }
    }
 @media screen and (width: 540px) and (height: 720px) {
    .back-btn{
      margin-left: 170px;
    }
    }

 @media screen and (width: 344px) and (height: 882px) {
      .matricula-container {
        margin-top: 130px;
     margin-left: 05px;
      }

      .back-btn{
      margin-left: 80px;
    }

    }
 @media screen and (width: 853px) and (height: 1280px) {
      .matricula-container {
        margin-top: 150px;
      }
    }
