
 
  
  
  <div class="content">
  
    <main class="principal">
      <h3>Minhas Notas</h3>
      <div class="caixa">
        <input class="imprimir"
          type="number"
          id="numero"
          name="numero"
          min="1"
          max="5"
          placeholder="Ano Acadêmico"
        />
        <button class="imprimir"><i class="bi bi-printer"> </i> Imprimir</button>
      </div>
  
      <table class="table">
        <thead>
          <tr>         
            <th scope="col">Cadeira </th>
            <th scope="col">Semestre</th>
            <th scope="col">AC1</th>
            <th scope="col">AC2</th>
            <th scope="col">P1</th>
            <th scope="col">P2</th>
            <th scope="col">MS</th>
            <th scope="col">Exame</th>
          </tr>
        </thead>
        <tbody>
          <tr>      
            <td>Análise Matemática I</td>
            <td>1º</td>
            <td>15</td>
            <td>15</td>
            <td>16</td> 
            <td>16</td> 
            <td>15</td>  
            <td>15</td>        
          </tr>
  
          <tr>        
            <td>FTI</td>
            <td>1º</td>
            <td>15</td>
            <td>15</td> 
            <td>16</td> 
            <td>16</td> 
            <td>15</td> 
            <td>15</td>      
          </tr>
  
          <tr>         
            <td>Fundamento de Programação</td>
            <td>1º</td>
            <td>15</td>
            <td>15</td>
            <td>16</td> 
            <td>16</td> 
            <td>15</td> 
            <td>15</td> 
          </tr>
  
          <tr>         
            <td>InglêS Técnico 1</td>
            <td>1º</td>
            <td>15</td>
            <td>15</td>
            <td>16</td> 
            <td>16</td> 
            <td>15</td>
            <td>15</td>  
          </tr>
  
          <tr>         
            <td>Algoritmos</td>
            <td>2º</td>
            <td>15</td>
            <td>15</td>
            <td>16</td> 
            <td>16</td> 
            <td>15</td> 
            <td>15</td> 
          </tr>
  
          <tr>         
            <td>FTI</td>
            <td>2º</td>
            <td>15</td>
            <td>15</td>
            <td>16</td> 
            <td>16</td> 
            <td>15</td>
            <td>15</td>  
          </tr>
  
          <tr>
           
            <td>InglêS Técnico 2</td>
            <td>2º</td>
            <td>15</td>
            <td>15</td>
            <td>16</td> 
            <td>16</td> 
            <td>15</td> 
            <td>15</td> 
          </tr>
  
          <tr>         
            <td>FAnálise Matemática 2</td>
            <td>2º</td>
            <td>15</td>
            <td>15</td>
            <td>16</td> 
            <td>16</td> 
            <td>15</td> 
            <td>15</td> 
          </tr>
        </tbody>
      </table>
  
    </main>
  </div>
  <app-lateral></app-lateral>