<div class="container">
  <div class="card blue">
    <h3>Cadeiras</h3>
    <p class="number">{{ disciplinas.length }}</p>
  </div>

  <form class="form-search" onsubmit="return false;">
    <select id="category-select"  name="ano" class="form-control">
      <option value="">Selecionar Ano</option>
      <option value="1º">1º Ano</option>
      <option value="2º">2º Ano</option>
      <option value="3º">3º Ano</option>
      <option value="4">3º Ano</option>
      <option value="5º">3º Ano</option>
    </select>
    
    <button type="button" class="btn-new">Novo Cadastro</button>
    <input type="text" id="search-input" placeholder="Escreva aqui..." />
    <button type="button" class="btn-search" id="search-btn">Buscar</button>
  </form>


  <div class="results" id="results">
    <table>
      <thead>
        <tr>
          <th>ID</th>
        <th>Sigla</th>
        <th>Nome</th>
        <th>Ano Acadêmico</th>
        <th>Semestre</th>
        <th>Precedência</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let d of disciplinas" >
          <td>{{ d.id }}</td>
          <td>{{ d.sigla }}</td>
          <td>{{ d.nome }}</td>
          <td>{{ d.ano_academico }}</td>
          <td>{{ d.semestre }}</td>
          <td>{{ d.precedencia }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<app-barralateral></app-barralateral>
