*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html{
    height: 100%;
    font-family: arial;
}


.top-bar{
    display: flex;
    align-items:end;   
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #0d91f7;
    z-index: 1000;
    }
    .top-bar p{
        color: white;
        margin: 0 auto;
        font-weight: bold;       
    }  

img{
    height: 40px;
    margin: 2px;
    margin-left: 1%;
}



li a:hover {
   background-color: #7fb3eb;
   transition: .6s ease;
   border-radius: 4px;
}
.main-wrapper{
    margin-left: 210px;
    width: calc(100% - 250px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    overflow-y: auto;
    padding-top: 70px;    
   
     
}
.main{ 
    width: 80%;  
    min-height: 400px;
    padding: 20px;  
       margin-top: 20px;
       border: 1px solid rgba(179, 179, 179, 0.521);
         border-radius: 6px;
         margin-left: 150px;
 
}

.caixa{

    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(179, 179, 179, 0.521);
    padding: 6px;
    border-radius: 4px;
}








@media (max-width: 580px) {
    
   
    .main-wrapper {
        margin-left: 3%;
        width: 100%;
        overflow-x: hidden;

    }

    .top-bar p {
        font-size: 12px;
        
    }

  

    .main {
        padding: 10px;
    }

    .texto {
        font-size: 12px;
        padding: 10px 20px;
    }

    button {
        padding: 3px 10px;
    }

    img {
        height: 30px;
    }
    .caixa2{
        display: flex;
        flex-direction: column;
        gap: 4px;
    }
     
}
@media (max-width: 680px){
    .caixa2{
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    input,select{
        width: 100%;
    }

}











