/* Container principal */
.main-content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-left: 700px; /* espaço para a barra lateral */
  margin-top: 80px;
}

.button-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 300px;
}

/* Botões */
.action-button {
  background-color: #47B5FF; 
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
  width: 300px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.action-button:hover {
  background-color: #2563eb; 
}

/* Responsividade */
@media (max-width: 768px) {
  .main-content {
    margin-left: 0;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    text-align: center; 
  }



  .button-section {
    width: 100%;
  }
}
