<body>
    <app-header></app-header>
  
        <div class="container">
          
            <div class="perfil-card">
              <img src="" alt="" class="aluno-foto" />
              <div class="aluno-dados">
                <p><strong>Nome:</strong> Odete Vieira Mangumbala</p>
                <p><strong>Contacto:</strong> 20231234 </p>
                <p><strong>Número de estudante:</strong> 3º Ano B</p>
                <p><strong>Email:</strong> mangumbala.com</p>
                <p><strong>comfirmado:</strong> 3º Ano 2 semestre</p>
                <p><strong>sal:</strong> C23</p>
    
              </div>
            </div>
          </div>
    
    
        <app-lateral></app-lateral>
    </body>
    
      
    