
<h2>Cadastro de Funcionário</h2>

<form (ngSubmit)="cadastrar()" #form="ngForm" class="form">
  <label>Nome:</label>
  <input type="text" [(ngModel)]="funcionario.nome" name="nome" required /><br />

  <label>Data de Nascimento:</label>
  <input type="date" [(ngModel)]="funcionario.dataNascimento" name="dataNascimento" required /><br />

  <label>Nº Documento:</label>
  <input type="text" [(ngModel)]="funcionario.numDocumento" name="numDocumento" required /><br />

  <label>Tipo de Documento:</label>
  <select [(ngModel)]="funcionario.tipoDocumento" name="tipoDocumento" required>
    <option value="BI">BI</option>
    <option value="PASSAPORTE">Passaporte</option>
  </select><br />

  <label>Endereço:</label>
  <input type="text" [(ngModel)]="funcionario.endereco" name="endereco" required /><br />

  <label>Nível Acadêmico:</label>
  <select [(ngModel)]="funcionario.nivelAcademico" name="nivelAcademico" required>
    <option value="LICENCIATURA">Licenciatura</option>
    <option value="MESTRADO">Mestrado</option>
    <option value="DOUTORAMENTO">Doutoramento</option>
  </select><br />

  <label>Cargo:</label>
  <select [(ngModel)]="funcionario.cargo" name="cargo" required>
    <option value="PROFESSOR">Docente</option>
    <option value="SECRETARIA">Secretária</option>
    <option value="ADMINISTRADOR">Administrador</option>
  </select><br />

  <label>Email:</label>
  <input type="email" [(ngModel)]="funcionario.email" name="email" required /><br />

  <label>Data de Ingresso:</label>
  <input type="date" [(ngModel)]="funcionario.dataIngresso" name="dataIngresso" required /><br />

  <button type="submit">Cadastrar</button>
</form>

<app-barralateral></app-barralateral>