<div class="container">
  <section class="form-section">   
    <div class="table-section">
      <h3 class="secao-titulo">Disciplinas Do Próximo Semestre</h3>
      <table>
        <thead>
          <tr>
            <th>Código</th>
            <th>Nome da Disciplina</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let disciplina of disciplinasfaze">
            <td>{{ disciplina.disciplinaId }}</td>
            <td>{{ disciplina.nome }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>

  <div class="pagination">
    <span  class="page active" (click)="confi1()">1</span>
    <span class="page" (click)="confi2()">2</span>
    <span class="page" (click)="confi3()">3</span>
  </div>

  <button class="confirm-btn" (click)="confi2()">Continuar</button>

  <button class="modal-btn" (click)="abrirModal()">Disciplinas Inscritas</button>

<div class="modal-backdrop" *ngIf="mostrarModal">
  <div class="modal-content">
    <h3>Disciplinas Inscritas</h3>

    <ul *ngIf="disciplinasInscritas.length > 0; else nenhuma">
      <li *ngFor="let disciplina of disciplinasInscritas">
        <strong>{{ disciplina.nomeDisciplina }}</strong> 
        ({{ disciplina.siglaDisciplina }})
      </li>
    </ul>

    <ng-template #nenhuma>
      <p>O estudante ainda não está inscrito em nenhuma disciplina.</p>
    </ng-template>

    <button class="close-btn" (click)="fecharModal()">Fechar</button>
  </div>
</div>
<app-lateral></app-lateral>
