<body>
  

<div class="container">

    <main class="main-content">
  
      <section class="form-section">
        <div class="table-section">
          <h3>Disciplinas a Fazer</h3>
          <table>
  
                <th>Selecionar</th>
                <th>Código</th>
                <th>Nome da Disciplina</th>
          </table>
          <br><br>
          <h3>Disciplinas em Atraso</h3>
          <table>
                <th>Selecionar</th>
                <th>Código</th>
                <th>Nome da Disciplina</th>
          </table>
  
          <br><br><br><br>
  
          <a href="#" class="termo-link">Termo de matrícula</a>
          <div class="termo-check">
            <input type="checkbox" id="aceito">
            <label for="aceito">Declaro que li e aceito os termos de matrícula</label>
          </div>
        </div>
  
        <div class="pagination">
          <span class="page active">1</span>
          <span class="page">2</span>
          <span class="page">3</span>
        </div>
        <button class="confirm-btn" (click)="confi2()">Confirmar</button>
      </section>
    </main>
  </div>
</body>
<app-lateral></app-lateral>
