
<body>

 <form [formGroup]="formulario">
  <!-- Mensagens que só aparecem após a ação (atualização) -->
  <div *ngIf="mostrarMensagens">
    <div *ngIf="mensagemSucesso" class="alert alert-success">
      {{ mensagemSucesso }}
    </div>

    <div *ngIf="mensagemErro" class="alert alert-danger">
      {{ mensagemErro }}
    </div>
  </div>

  <div class="card">
    <h3>Dados Pessoais</h3>
    
    <div class="form-group">
      <label for="email">Email</label>
      <input id="email" type="email" formControlName="email" placeholder="Digite seu email" />
      <div class="error-message" *ngIf="formulario.get('email')?.touched">
        <span *ngIf="formulario.get('email')?.errors?.['required']">Campo obrigatório</span>
        <span *ngIf="formulario.get('email')?.errors?.['email']">Email inválido</span>
      </div>
    </div>

    <div class="form-group">
      <label for="contato">Contacto</label>
      <input id="contato" type="tel" formControlName="contato" placeholder="(XX) XXXXX-XXXX" />
      <div class="error-message" *ngIf="formulario.get('contato')?.touched">
        <span *ngIf="formulario.get('contato')?.invalid">Campo obrigatório</span>
      </div>
    </div>

    <div class="form-group">
      <label for="endereco">Endereço</label>
      <input id="endereco" type="text" formControlName="endereco" placeholder="Digite seu endereço" />
      <div class="error-message" *ngIf="formulario.get('endereco')?.touched">
        <span *ngIf="formulario.get('endereco')?.errors?.['required']">Campo obrigatório</span>
        <span *ngIf="formulario.get('endereco')?.errors?.['minlength']">O endereço deve ter pelo menos 5 caracteres</span>
      </div>
    </div>

    <div class="buttons">
      <button type="button" (click)="accao()">Atualizar dados</button>
    </div>

    <br />

    <div class="buttons">
      <button type="button" (click)="abrirModal()">Alterar Senha</button>
    </div>
  </div>
</form>



<!-- Modal para alteração de senha -->
  <div class="modal" *ngIf="mostrarModal">
  <div class="modal-conteudo">
    <h4>Alterar Senha</h4>
    <form [formGroup]="formularioSenha">
      <input type="password" formControlName="senhaAtual" placeholder="Senha atual" />
      <div class="error-message" *ngIf="formularioSenha.get('senhaAtual')?.touched && formularioSenha.get('senhaAtual')?.invalid">
        Campo obrigatório
      </div>
      
      <br/><br/>
      
      <input type="password" formControlName="novaSenha" placeholder="Nova Senha" />
      <div class="error-message" *ngIf="formularioSenha.get('novaSenha')?.touched && formularioSenha.get('novaSenha')?.invalid">
        <span *ngIf="formularioSenha.get('novaSenha')?.errors?.['required']">Campo obrigatório</span>
        <span *ngIf="formularioSenha.get('novaSenha')?.errors?.['minlength']">A senha deve ter pelo menos 6 caracteres</span>
      </div>
      
      <br/><br/>
      
      <input type="password" formControlName="confirmarSenha" placeholder="Confirmar Nova Senha" />
      <div class="error-message" *ngIf="formularioSenha.get('confirmarSenha')?.touched && formularioSenha.get('confirmarSenha')?.invalid">
        <span *ngIf="formularioSenha.get('confirmarSenha')?.errors?.['required']">Campo obrigatório</span>
      </div>
      <div class="error-message" *ngIf="formularioSenha.errors?.['senhasNaoCoincidem'] && formularioSenha.get('confirmarSenha')?.touched">
        As senhas não coincidem
      </div>
      
      <div class="modal-botoes">
        <button (click)="salvarSenha()">Salvar</button>
        <button (click)="fecharModal()">Cancelar</button>
      </div>
    </form>
  </div>
</div>
</body>
<!--

<body>
  <div *ngIf="mensagemSucesso" class="alert alert-success">
  {{ mensagemSucesso }}
</div>

<div *ngIf="mensagemErro" class="alert alert-danger">
  {{ mensagemErro }}
</div>
  <form [formGroup]="formulario">

    <div class="card">
      <h3>Dados Pessoais</h3>
       <div class="form-group">
        <label for="email">Email</label>
        <input id="email" type="email" formControlName="email" placeholder="Digite seu email" />
        <div class="error-message" *ngIf="formulario.get('email')?.touched">
          <span *ngIf="formulario.get('email')?.errors?.['required']">Campo obrigatório</span>
          <span *ngIf="formulario.get('email')?.errors?.['email']">Email inválido</span>
        </div>
      </div>

      <div class="form-group">
        <label for="contato">Contacto</label>
        <input id="contato" type="tel" formControlName="contato" placeholder="(XX) XXXXX-XXXX" />
        <div class="error-message" *ngIf="formulario.get('contato')?.touched">
          <span *ngIf="formulario.get('contato')?.invalid">Campo obrigatório</span>
        </div>
      </div>

      <div class="form-group">
  <label for="endereco">Endereço</label>
  <input id="endereco" type="text" formControlName="endereco" placeholder="Digite seu endereço " />
  <div class="error-message" *ngIf="formulario.get('endereco')?.touched">
    <span *ngIf="formulario.get('endereco')?.errors?.['required']">Campo obrigatório</span>
    <span *ngIf="formulario.get('endereco')?.errors?.['minlength']">O endereço deve ter pelo menos 5 caracteres</span>
  </div>
</div>

      <div class="buttons">
        <button type="button" (click)="accao()">Atualizar dados</button>
      </div>

      <br /><br />

      <div class="buttons">
        <button type="button" (click)="abrirModal()">Alterar Senha</button>
      </div>
    </div>
  </form>

      modal alterada
  <div class="modal" *ngIf="mostrarModal">
  <div class="modal-conteudo">
    <h4>Alterar Senha</h4>
    <form [formGroup]="formularioSenha">
      <input type="password" formControlName="senhaAtual" placeholder="Senha atual" />
      <div class="error-message" *ngIf="formularioSenha.get('senhaAtual')?.touched && formularioSenha.get('senhaAtual')?.invalid">
        Campo obrigatório
      </div>
      
      <br/><br/>
      
      <input type="password" formControlName="novaSenha" placeholder="Nova Senha" />
      <div class="error-message" *ngIf="formularioSenha.get('novaSenha')?.touched && formularioSenha.get('novaSenha')?.invalid">
        <span *ngIf="formularioSenha.get('novaSenha')?.errors?.['required']">Campo obrigatório</span>
        <span *ngIf="formularioSenha.get('novaSenha')?.errors?.['minlength']">A senha deve ter pelo menos 6 caracteres</span>
      </div>
      
      <br/><br/>
      
      <input type="password" formControlName="confirmarSenha" placeholder="Confirmar Nova Senha" />
      <div class="error-message" *ngIf="formularioSenha.get('confirmarSenha')?.touched && formularioSenha.get('confirmarSenha')?.invalid">
        <span *ngIf="formularioSenha.get('confirmarSenha')?.errors?.['required']">Campo obrigatório</span>
      </div>
      <div class="error-message" *ngIf="formularioSenha.errors?.['senhasNaoCoincidem'] && formularioSenha.get('confirmarSenha')?.touched">
        As senhas não coincidem
      </div>
      
      <div class="modal-botoes">
        <button (click)="salvarSenha()">Salvar</button>
        <button (click)="fecharModal()">Cancelar</button>
      </div>
    </form>
  </div>
</div>
</body>-->
<app-lateral-professor></app-lateral-professor>