<app-barralateral></app-barralateral>
<div id="conteiner">
    <select name="Anos" id="selecao">
        <option value="Ano-acad" selected>Ano Acadêmico</option>
        <option value="lei-1ta">1º Ano</option>
        <option value="lei-1ta">2º Ano</option>
        <option value="lei-1ta">3º Ano</option>
        <option value="lei-1ta">4º Ano</option>
        <option value="lei-1ta">5º Ano</option>
    </select>

    <select name="Anos" id="selecao">
        <option value="Semestre" selected>Semestre</option>
        <option value="lei-1ta">1º Semestre</option>
        <option value="lei-1ta">2º Semestre</option>
    </select>

      <select name="Anos" id="selecao">
        <option value="Imprimir">Imprimir</option>
    </select>

</div>
<div id="horario">
    <img id="foto" src="assets/icones/horario.png" alt="horario">
</div>
<div id="logo">
    <img src="assets/icones/R.png" alt="#">
    <img src="assets/icones/perfil.png" alt="#">
</div>
