<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
 <app-lateral-professor></app-lateral-professor>
<body>
   
    <div id="conteiner">
    <select name="Anos" id="selecao">
        <option value="Ano-acad" selected>Ano Acadêmico</option>
        <option value="lei-1ta">1º Ano</option>
        <option value="lei-1ta">2º Ano</option>
        <option value="lei-1ta">3º Ano</option>
        <option value="lei-1ta">4º Ano</option>
        <option value="lei-1ta">5º Ano</option>
    </select>

    <select name="Anos" id="selecao">
        <option value="Semestre" selected>Semestre</option>
        <option value="lei-1ta">1º Semestre</option>
        <option value="lei-1ta">2º Semestre</option>
    </select>

      <select name="Anos" id="selecao">
        <option value="Imprimir">Imprimir</option>
    </select>

</div>
<div id="horario">
    <img id="foto" src="assets/icones/horario.png" alt="horario">
</div>
</body>
</html>

