<!--Barra -Superior-->
<div class="hamburger" (click)="toggleMenu()">☰</div>
<div class="supbar">
  <h2 id="nome">{{titulo}}</h2>
</div>
<!-- Barra-Lateral -->
<nav class="sidebar" [class.active]="menuAtivo">
    <img src="assets/imagens/Logo.jpg" alt="Logo">
    <h2>Dashboard</h2>
    <ul>
        <div class="abas">
 <li> <a routerLink="/home" class="menu-link"><img src="assets/icones/prof.png" alt="Ícone">
  <span (click)="selecionarMenu('Dados Gerais')">Geral</span> </a></li>

  <li><a routerLink="/home" class="menu-link"> <img src="assets/icones/aluno.png" alt="Ícone">
   <span (click)="selecionarMenu('Estudantes')">Estudantes</span></a> </li>
   
   <li><a routerLink="/home" class="menu-link"> <img src="assets/icones/aluno.png" alt="Ícone">
     <span (click)="selecionarMenu('Funcionários')">Funcionários</span> </a> </li>
            
  <li> <a routerLink="/home" class="menu-link"><img src="assets/icones/matricula.png" alt="Ícone">
    <span (click)="selecionarMenu('Matrículas')">Matrículas</span></a></li>
  <li> <a routerLink="/home" class="menu-link"><img src="assets/icones/book.png" alt="Ícone">
     <span  (click)="selecionarMenu('Disciplinas')">Disciplinas</span> </a> </li>
             
   <li> <a routerLink="/home" class="menu-link"><img src="assets/icones/hora.png" alt="Ícone">
     <span (click)="selecionarMenu('Horários')">Horários</span> </a></li>
             
     <li><a routerLink="/home" class="menu-link"><img src="assets/icones/cale.png" alt="Ícone">
       <span (click)="selecionarMenu('Calendário')">Calendário</span></a></li>
            
      <li> <a routerLink="/home" class="menu-link"> <img src="assets/icones/mensagem.png" alt="Ícone">
     <span (click)="selecionarMenu('Chat')">Chat</span></a> </li>
            
     <li> <a routerLink="/home" class="menu-link"><img src="assets/icones/comunicado.png" alt="Ícone">
       <span (click)="selecionarMenu('Comunicados')">Comunicados</span></a></li>
            
       <li> <a routerLink="/home" class="menu-link"><img src="assets/icones/conf.png" alt="Ícone">
     <span (click)="selecionarMenu('Definições')">Definições</span> </a> </li>
    </div> 
        </ul>
      
    </nav> 