/* Layout geral */
:host {
    display: flex;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0px;
  }
  
  /* Sidebar */
  .sidebar {
    width: 200px;
    background-color: #47B5FF;
    color: white;
    padding: 10px;
    margin-top: 0;
    padding-top: 0;
    position: fixed;
    top: 0;
    left: 0;
   
  }

  .sidebar img{
    width: 85%;
    margin-left: 8%;
  }
  
  .menu-link{
    display: flex;
    gap: 12px; /* Espaço entre o ícone e o texto */
    cursor: pointer;
   
      padding: 12px;
    font-size: 20px;
    text-decoration: none;
   
 
  }

  .menu-link img {
    width: 24px;
    height: 24px;
    object-fit: contain;
  }
  .sidebar h2 {
    margin-top: 0;
    font-size: 30px;
    text-align: center;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar ul li {
    margin: 15px 0;
  }
  
  .sidebar ul li a {
    color: white;
    text-decoration: none;
  }
  
  .sidebar ul li a:hover {
    background-color: #c3d8f1;
    border-radius: 5px;
  }
  
  