/* Layout geral */
:host {
    display: flex;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0px;
  }
  
  /* Sidebar */
  .sidebar {
    width: 200px;
    height: 100%;
    background-color: #47B5FF;
    color: white;
    padding: 10px;
    margin-top: 0;
    padding-top: 0;
    position: fixed;
    top: 0;
    left: 1;
   
  }

  .sidebar img{
    width: 85%;
    margin-left: 8%;
  }
  
  .menu-link{
    display: flex;
    gap: 12px; /* Espaço entre o ícone e o texto */
    cursor: pointer;
   
      padding: 12px;
    font-size: 20px;
    text-decoration: none;
   
 
  }

  .menu-link img {
    width: 24px;
    height: 24px;
    object-fit: contain;
  }
  .sidebar h2 {
    margin-top: 0;
    font-size: 30px;
    text-align: center;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar ul li {
    margin: 15px 0;
  }
  
  .sidebar ul li a {
    color: white;
    text-decoration: none;
  }
  
  .sidebar ul li a:hover {
    background-color: #c3d8f1;
    border-radius: 5px;
  }
 /* Botão Hamburguer */
.menu-toggle {
  display: none;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 28px;
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 1100;
  cursor: pointer;
}


@media (max-width: 768px) {
  .sidebar {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    background: #47B5FF;
    display: none;
    z-index: 1000;
  }

  .sidebar.menu-open {
    display: block;
  }

  .menu-toggle {
    display: block;
  }
}
  