
<!-- Sidebar -->
<div class="sidebar">
    <img src="assets/imagens/Logo.jpg" alt="Logo">
    <h2>Dashboard</h2>
    <ul>
        <div class="abas">
            <li>
              <a routerLink="/home" class="menu-link">
                <img src="assets/icones/prof.png" alt="Ícone">
                <span>Geral</span>
              </a>
            </li>
            <li>
                <a routerLink="/home" class="menu-link">
                  <img src="assets/icones/aluno.png" alt="Ícone">
                  <span>Estudantes</span>
                </a>
              </li>
              <li>
                <a routerLink="/home" class="menu-link">
                  <img src="assets/icones/aluno.png" alt="Ícone">
                  <span>Funcionários</span>
                </a>
              </li>
              <li>
                <a routerLink="/home" class="menu-link">
                  <img src="assets/icones/matricula.png" alt="Ícone">
                  <span>Matrículas</span>
                </a>
              </li>
              <li>
                <a routerLink="/home" class="menu-link">
                  <img src="assets/icones/book.png" alt="Ícone">
                  <span>Disciplinas</span>
                </a>
              </li>
              <li>
                <a routerLink="/home" class="menu-link">
                  <img src="assets/icones/hora.png" alt="Ícone">
                  <span>Horários</span>
                </a>
              </li>
              <li>
                <a routerLink="/home" class="menu-link">
                  <img src="assets/icones/cale.png" alt="Ícone">
                  <span>Calendário</span>
                </a>
              </li>
              <li>
                <a routerLink="/home" class="menu-link">
                  <img src="assets/icones/mensagem.png" alt="Ícone">
                  <span>Chat</span>
                </a>
              </li>
              <li>
                <a routerLink="/home" class="menu-link">
                  <img src="assets/icones/comunicado.png" alt="Ícone">
                  <span>Comunicados</span>
                </a>
              </li>
              <li>
                <a routerLink="/home" class="menu-link">
                  <img src="assets/icones/conf.png" alt="Ícone">
                  <span>Definições</span>
                </a>
              </li>
          </div> 
     
    
    </ul>

  

   
 
   
  