
<!-- TÍTULO -->
<div class="titulo-container">
  <h2 class="titulo">📅 Calendário de Atividades</h2>
</div>

<!-- CONTEÚDO PRINCIPAL COM BLUR CONDICIONAL -->
<main class="quadro" [class.blur]="mostrarFormulario">
  <div class="acoes-topo">
  <a class="ver-provas" (click)="baixarCalendarioPDF()">
   Baixar Calendário de Provas
  </a>
  
  </div>

  <ul class="lista-eventos">
    <li *ngFor="let evento of eventos">
      <strong>{{ evento.data | date:'shortDate' }}</strong> —
      <span class="titulo-evento">{{ evento.titulo }}</span>
      <p class="conteudo">{{ evento.conteudo }}</p>
    </li>
  </ul>
</main>
<app-barralateral-secretaria></app-barralateral-secretaria>

