
<link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">

<!--Barra -Superior-->
<button class="hamburger" (click)="toggleMenu()">☰</button>
<div class="supbar">
 

</div>
 
    
<!-- Barra-Lateral -->
<nav class="sidebar" [class.active]="menuAtivo">
  <ul>
    <div class="scroll-container">
     
      <li>
        <a class="menu-link" [ngClass]="{ ativo: abaSelecionada === 'Página Inicial' }">
          <i class='bx bx-home'></i>
          <span (click)="selecionarMenu('Página Inicial','Página Inicial')" tabindex="0" (keyup.enter)="selecionarMenu('Página Inicial','Olá, Pedro José Cavudissa')">Página Inicial</span>
        </a>
      </li>
      <li>
        <a class="menu-link" [ngClass]="{ ativo: abaSelecionada === 'Perfil' }">
          <i class='bx bx-user'></i>
          <span (click)="selecionarMenu('Perfil','Perfil')" tabindex="0" (keyup.enter)="selecionarMenu('Perfil','Perfil')">Perfil</span>
        </a>
      </li>

      <li>
        <a class="menu-link" [ngClass]="{ ativo: abaSelecionada === 'Lançamento' }">
          <i class='bx bx-book'></i>
          <span (click)="selecionarMenu('Lançamento','Lançamento')" tabindex="0" (keyup.enter)="selecionarMenu('Lançamento','Lançamento')">Lançamento de Notas</span>
        </a>
      </li>

      <li>
        <a class="menu-link" [ngClass]="{ ativo: abaSelecionada === 'Ver Pautas' }">
          <i class='bx bx-book'></i>
          <span (click)="selecionarMenu('Ver Pautas','Ver Pautas')" tabindex="0" (keyup.enter)="selecionarMenu('Ver Pautas','Ver Pautas')">Ver Pautas</span>
        </a>
      </li>

      <li>
        <a class="menu-link" [ngClass]="{ ativo: abaSelecionada === 'Minhas Turmas' }" >
          <i class='bx bx-certification'></i>
          <span (click)="selecionarMenu('Minhas Turmas','Minhas Turmas')" tabindex="0" (keyup.enter)="selecionarMenu('Minhas Turmas','Minhas Turmas')">Minhas Turmas</span>
        </a>
      </li>

      <li>
        <a class="menu-link" [ngClass]="{ ativo: abaSelecionada === 'Calendário' }" >
          <i class='bx bx-certification'></i>
          <span (click)="selecionarMenu('Calendário','Calendário')" tabindex="0" (keyup.enter)="selecionarMenu('Calendário','Calendário')">Calendário</span>
        </a>
      </li>

      <li>
        <a class="menu-link" [ngClass]="{ ativo: abaSelecionada === 'Comunicado' }" >
          <i class='bx bx-message'></i>
          <span (click)="selecionarMenu('Comunicado','Comunicado')" tabindex="0" (keyup.enter)="selecionarMenu('Comunicado','Comunicado')">Comunicados</span>
        </a>
      </li>

      <li>
        <a class="menu-link" [ngClass]="{ ativo: abaSelecionada === 'Horários' }">
          <i class='bx bx-time-five'></i>
          <span (click)="selecionarMenu('Horários','Horários')" tabindex="0" (keyup.enter)="selecionarMenu('Horários','Horários')">Horários</span>
        </a>
      </li>

            <li><a  class="menu-link" [ngClass]="{ ativo: abaSelecionada === 'Chat' }"> <i class='bx bx-chat'></i>
              <span (click)="selecionarMenu('Chat','Chat')" tabindex="0" (keyup.enter)="selecionarMenu('Chat','Chat')">Chat</span> </a> </li>
          
              <li><a  class="menu-link" [ngClass]="{ ativo: abaSelecionada === 'Sair' }"> <i class='bx bx-log-out'></i>
                <span (click)="selecionarMenu('Sair','Sair')" tabindex="0" (keyup.enter)="selecionarMenu('Sair','Sair')">Sair</span> </a> </li>
            
  </div>
   </ul>
    
    </nav> 

