/* Layout geral */
:host {
  margin: 0px;
}

/* Sidebar */
.sidebar {
  width: 200px;
  background-color: #47B5FF;
  color: white;
  padding: 10px;
  margin-top: 0;
  padding-top: 0;
  position: fixed;
  top: 0;
  left: 1px; 
transform: translateX(0); 
height: 100%;
 
}

.sidebar img{
  width: 85%;
  margin-left: 8%;
}

.menu-link{
  display: flex;
  gap: 12px; /* Espaço entre o ícone e o texto */
  cursor: pointer;
 
    padding: 12px;
  font-size: 20px;
  text-decoration: none;
 

}

.menu-link img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
.sidebar h2 {
  margin-top: 0;
  font-size: 30px;
  text-align: center;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 15px 0;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
}

.sidebar ul li a:hover {
  background-color: #c3d8f1;
  border-radius: 5px;
}

.supbar{
  background-color:#47B5FF;
  width: 100%;
  height: 8%;
  position: absolute;
  top: 0%;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
 
}
.supbar h2 {
  color: #fff;
  text-align: center;
  font-size: 18px;
  margin-left: 10%;
  margin-top: 2%;
}


/* Botão hambúrguer escondido por padrão */
.hamburger {
display: none;
font-size: 30px;
position: fixed;
top: 0px;
left: 15px;
z-index: 2000;
cursor: pointer;
color: white;
background-color: #47B5FF;
padding: 8px 12px;
border-radius: 4px;
}
.sidebar.hidden {
transform: translateX(-100%);
}  

.scroll-container {
height: 600px; /* ou qualquer valor fixo que você desejar */
overflow-y: auto; /* ativa a barra de rolagem vertical apenas quando necessário */
overflow-x: hidden; /* oculta a barra de rolagem horizontal */
}

.supbar .icons {
  display: flex;
  gap: 5px;
  position: absolute;
  right: 5%;
  top: 10%;

}
.icon {
  text-align: center;
  position: relative;
  
}

.icon img {
  width: 32px;
  height: 32px;
   margin-bottom: -15px;
}

.icon p {

  font-size: 14px;
}

.badge {
  position: absolute;
  top: 10%;
  right: 28%;
  background-color: white;
  color: black;
  border-radius: 50%;
  font-size: 12px;
  font-weight: bold;
}
/*RESPONSIVIDADE*/

@media (max-width: 1500px) {
  .hamburger {
    display: block;
    position: fixed;

  }

  .sidebar {
    transform: translateX(-150%);
    transition: transform 0.3s ease;
    width: 15%;
    height: 100%;
    background-color: #47B5FF;
    color: white;
    padding: 10px;
    margin-top: 0;
    padding-top: 0;
    position: fixed;
    top: 55px;
    left: 8px;
  }
}
@media (max-width: 920px) {
  .hamburger {
    margin-top: 3%;
    display: block;
    border: none;
    color: #fff;
    z-index: 3000;
    padding: 6px 10px;
  }
  

  .sidebar {
    transform: translateX(-150%);
    transition: transform 0.3s ease; width: 200px;
    background-color: #47B5FF;
    color: white;
    padding: 10px;
    margin-top: 0;
    padding-top: 0;
    position: fixed;
    top: 55px;
    left: 8px; 
  }

  .sidebar.active {
    transform: translateX(0);
  }
  .supbar{
    width: 100%;
    position: fixed;/*Faz com que a barra superior não se movimenta*/
  }
  .scroll-container {
    max-height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
  }
  .supbar .icons {
    top: 11%;
 
  }
  
  
  .supbar #nome{
    font-size: 17px;
    position: relative
    ;right: 15%;
    top: 35%;
  }

  .supbar{
    background-color:#47B5FF;
    width: 100%;
    height: 10%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
   
  }
  .supbar h2{
    color: #fff;
    text-align: center;
    font-size: 10px;
 
    margin-bottom: 50%;
  
  }
  .supbar #nome{
    font-size: 12px;
  }
  .badge {
    position: absolute;
    top: 30%;
    right:30%;
    
  }

  
}
