
<body>
  <form [formGroup]="formulario">
  <div class="card">
    <h3>Dados Pessoais</h3>

    <div class="form-group">
      <label for="nome">Nome</label>
      <input id="nome" type="text" formControlName="nome" placeholder="Digite seu nome" />
      <div class="error-message"  *ngIf="formulario.get('nome')?.invalid && formulario.get('nome')?.touched">
        Campo obrigatório
      </div>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input id="email" type="email" formControlName="email" placeholder="Digite seu email" />
      <div class="error-message" *ngIf="formulario.get('email')?.invalid && formulario.get('email')?.touched" class="erro">
        Campo obrigatório
      </div>
    </div>

    <div class="form-group">
      <label for="contato">Contato</label>
      <input id="contato" type="tel" formControlName="contato" placeholder="(XX) XXXXX-XXXX" />
      <div class="error-message" *ngIf="formulario.get('contato')?.invalid && formulario.get('contato')?.touched">
        Campo obrigatório
      </div>
    </div>

    <div class="form-group">
      <label for="idade">Idade</label>
      <input id="idade" type="number" formControlName="idade" placeholder="Digite sua idade" />
      <div  class="error-message" *ngIf="formulario.get('idade')?.invalid && formulario.get('idade')?.touched">
        Campo obrigatório
      </div>
    </div>

    <div class="buttons">
      <button type="button" (click)="accao()">Atualizar dados</button>
    </div>

    <p class="odete">+ configuração</p>
    <div class="buttons">
      <button type="button" (click)="abrirModal()">Alterar Senha</button>
    </div>
  </div>
</form>

<!-- Modal -->
<div class="modal" *ngIf="mostrarModal">
  <div class="modal-conteudo">
    <h4>Alterar Senha</h4>
    <input type="password" placeholder="Nova Senha" /><br /><br />
    <input type="password" placeholder="Confirmar Nova Senha" />
    <div class="modal-botoes">
      <button (click)="salvarSenha()">Salvar</button>
      <button (click)="fecharModal()">Cancelar</button>
    </div>
  </div>
</div>

 
</body>
   <app-lateral></app-lateral>   
