* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  body{
   
 margin: 0;
   padding: 0;
    background-color: #fff8f8;

  }


 
/* perfil-aluno.component.css */
.container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    float: right;
  }
  
  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:white ;
    padding: 50px;
    border-radius: 12px;
    width: 500px;
    height:280px;
    gap: 10px;
    border: 2px solid black;
    margin: 50px auto;
    position: relative;
    right: 450px;
    top: 100px;
  }
  
  .card img{
width: 150px;
height: 150px;
  }
.card h3{
  margin-bottom: 15%;
}
  
  .aluno-dados {
    flex: 1;
    font-size: 19px;}
    .card h3{
   
    }
    .card p strong{
      margin-bottom: 25%;
    }

  
  
  .titulo {
    margin:3px;
    color: #333;
  }
img{
    background-color: #7e7d7d;
}
@media (max-width: 768px) {
  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:white ;
    padding: 50px;
    border-radius: 12px;
    width: 440px;
    height:300px;
    gap: 10px;
    border: 2px solid black;
    margin: 50px auto;
    position: relative;
    right: 25px;
    top: 100px;
  }

  
} 