

<app-lateral></app-lateral>

<link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />

<div class="container">
  <div class="card">
    <img src="assets/imagens/estudante-masculino.png" alt="Perfil do Professor" />

    <div class="info">
     <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>

  <div *ngIf="estudanteSelecionado; else noEstudantes">
 
        <h3 > Dados academicos</h3>

        <p><strong>Nome:</strong> {{ estudanteSelecionado.nome}}</p>
        <p><strong>NumIdentificação:</strong>{{ estudanteSelecionado.userDetails.numIdentificacao}}</p>
        <p><strong>Contacto:</strong>{{ estudanteSelecionado.userDetails.contacto}}</p>
        <p><strong>StatusEstudante:</strong>{{ estudanteSelecionado.userDetails.statusEstudante}}</p>
        <p><strong>AnoAcademico:</strong>{{ estudanteSelecionado.userDetails.anoAcademico}}</p>
    
    </div>
  <ng-template #noEstudantes>
    <p>Nenhum estudante encontrado.</p> 
  </ng-template>
    </div>
  </div>
</div>
     
    
    
    