<div class="container">
 
<div class="card">

  <img src="assets/imagens/estudante-masculino.png" alt="Perfil" />
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>

  <div *ngIf="estudanteSelecionado; else noEstudantes">
 


        <p><strong>Nome:</strong> {{ estudanteSelecionado.nome}}</p>
        
        <p><strong>Data Nasc:</strong>{{estudanteSelecionado.userDetails.dataNascimento| date:'shortDate' }}  </p>
        <p><strong>Identificação:</strong>{{ estudanteSelecionado.userDetails.numIdentificacao}}</p>
        <p><strong>Contacto:</strong>{{ estudanteSelecionado.userDetails.contacto}}</p>
        <p><strong>Data Ingresso:</strong>{{estudanteSelecionado.userDetails.dataIngresso| date:'shortDate' }} </p>

    
    </div>
  <ng-template #noEstudantes>
    <p>Nenhum estudante encontrado.</p>
  </ng-template>
  </div>
</div>

<app-lateral></app-lateral>
     
    
    
    