
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}
.container {
  margin-left: 255px;
  margin-top: 100px;
  width: 80%;
}
h2 { font-size: 14px; margin: 0 0 8px; text-transform: uppercase; letter-spacing: 1px; text-align: center; }
.row {
  display: flex;
  flex-wrap: nowrap;
  gap: 40px;
  margin-bottom: 40px;
}
.chart-box {
  background: #fff;
  border-radius: 8px;
  border: 1px solid #333;
  width: 60%;
  padding: 16px;
  box-shadow: 1px 5px 4px rgba(0,0,0,0.1);
  flex: 1 1 calc(50% - 20px);
  display: flex;
  flex-direction: column;
}
.chart-box.full {
  flex: 1 1 100%;
}
.chart-box canvas { 
  width: 100% !important; 
  height: 200px !important; }
.legend-box { display: flex;
   justify-content: center;
    gap: 16px;
     margin-top: 8px; }

.legend-item { display: flex; 
  align-items: center; gap: 4px; 
  font-size: 12px; }
.legend-color { width: 12px;
   height: 12px; 
   display: inline-block; }

form { display: flex;
   gap: 16px;
   align-items: center;
    margin-bottom: 16px; }

select, input, button { font-size: 14px;
   padding: 8px 12px; 
   border: 1px solid #ccc; 
   border-radius: 4px;
   width:30%; }

select { appearance: none; 
  background: #fff url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="5"><path fill="%23666" d="M0,0l5,5 5-5z"/></svg>') no-repeat right 8px center; 
  background-size: 10px 5px; }
button { cursor: pointer; }
.btn-new { background: #009cff; color: #fff; border: none; }
.btn-search { background: #222; color: #fff; border: none; }
.results { background: #fff; 
  border-radius: 8px; padding: 16px;
   box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
   min-height: 150px; }

/* Telas pequenas (até 768px) */
@media (max-width: 768px) {
  .container {
    margin: 30% auto 0 auto;  /* Centraliza horizontalmente e dá espaço superior */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
  }

  .row {
    flex-direction: column;
    gap: 16px;
    width: 100%;
  }

  .chart-box {
    width: 100%;
    flex: 1 1 100%;
  }

  form {
    flex-direction: column;
    align-items: center;
    gap: 12px;
    width: 100%;
  }

  select,
  input,
  button {
    width: 100%;
  }
  .results { background: #fff; 
    border-radius: 8px; padding: 16px;
     box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
     width: 100%;
     height: 45%;
}



@media (max-width: 568px) {
  .container {
    margin: 30% auto 0 auto;  /* Centraliza horizontalmente e dá espaço superior */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
  }

  .chart-box{
width: 100%;
height: 80%;
margin: 18px auto;

   }

   .chart-box h2{
    font-size: 0.70rem;
   
    
       }
}




/* Telas médias e grandes (acima de 768px) */
@media (min-width: 769px) {
  .container {
    margin-left: 255px;
    margin-top: 100px;

    
    width: 70%;

    
  }

  .row {
    display: flex;
    flex-wrap: nowrap;
    gap: 40px;
    margin-bottom: 40px;
  }

  .chart-box {
    width: 60%;

    
    flex: 1 1 calc(45% - 16px);

    
  }

  form {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    margin-bottom: 16px;
  }

  select,
  input,
  button {
    width: 30%;
  }
}
}