
<body>
  <div class="container">
    <div class="row">
      <div class="chart-box">
        <h2>Estudantes Matriculados</h2>
        <canvas id="pie-chart"></canvas>
      </div>
      <div class="chart-box">
        <h2>Estudantes Matriculados</h2>
        <canvas id="bar-chart"></canvas>
        <div class="legend-box" id="bar-legend"></div>
      </div>
    </div>
    <div class="row">
      <div class="chart-box full">
        <h2>Estudantes com Cadeiras em Atraso</h2>
        <canvas id="horizontal-bar"></canvas>
      </div>
    </div>



  </div>
  </body>
  <app-barralateral></app-barralateral>

