<div class="container">
  <div class="row">
    <div class="chart-box">
      <h2>Total de Estudantes Matriculados</h2>
      <canvas id="pie-chart"></canvas>
    </div>

    <div class="chart-box">
      <h2>Distribuição por Ano Acadêmico</h2>
      <canvas id="bar-chart"></canvas>
      <div class="legend-box" id="bar-legend"></div>
    </div>
  </div>


<section>


<h2>Lista de Estudantes</h2>

  <form class="form-search" (submit)="false">
    <select [(ngModel)]="anoSelecionado" name="anoSelecionado" (change)="carregarEstudantes()">
      <option [ngValue]="''">Selecionar Ano</option>
      <option [ngValue]="1">1º Ano</option>
      <option [ngValue]="2">2º Ano</option>
      <option [ngValue]="3">3º Ano</option>
      <option [ngValue]="4">4º Ano</option>
      <option [ngValue]="5">5º Ano</option>
    </select>

    <input [(ngModel)]="textoBusca" name="textoBusca" type="text" placeholder="Escreva aqui..." />
  </form>
<div class="scroll-container" >
  <table>
     <thead>
      <tr>
        <th>Nome</th>
        <th>Nº Do Documento</th>
        <th>Ano Acadêmico</th>
        <th>Status</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody *ngIf="estudantesFiltrados.length > 0; else semDados">
      <tr *ngFor="let e of estudantesFiltrados">
        <td>{{ e.nome }}</td>
        <td>{{ e.numIdentificacao }}</td>
        <td>{{ e.anoAcademico }}</td>
        <td>{{ e.statusEstudante }}</td>
        <td>
          <button (click)="verDetalhes(e)" title="Ver Detalhes" class="btn-acao">
            <i class='bx bx-show'></i>
          </button>
        </td>
      </tr>
    </tbody>
    <ng-template #semDados>
      <tr>
        <td colspan="6">Nenhum Estudante encontrado.</td>
      </tr>
    </ng-template>
  </table>
</div>
  <!-- MODAL -->
  <div class="modal" *ngIf="estudanteSelecionado">
    <div class="modal-content">
      <span class="close" (click)="fecharModal()">&times;</span>
      <h3>Detalhes do Estudante</h3>
      <p><strong>Nome:</strong> {{ estudanteSelecionado.nome }}</p>
      <p><strong>Documento:</strong> {{ estudanteSelecionado.numIdentificacao }}</p>
      <p><strong>Email:</strong> {{ estudanteSelecionado.email || '—' }}</p>
      <p><strong>Contacto:</strong> {{ estudanteSelecionado.contacto || '—' }}</p>
      <p><strong>Endereço:</strong> {{ estudanteSelecionado.endereco || '—' }}</p>
      <p><strong>Ano Acadêmico:</strong> {{ estudanteSelecionado.anoAcademico }}</p>
      <p><strong>Status:</strong> {{ estudanteSelecionado.statusEstudante }}</p>
      <p><strong>Data de Nascimento:</strong> {{ estudanteSelecionado.dataNascimento | date: 'dd/MM/yyyy' }}</p>
    </div>
  </div>
</section>
</div>
<app-barralateral></app-barralateral>



