<div class="sidebar">
  <img src="assets/imagens/Logo.jpg" alt="Logo" class="logo" />
  <h2>Dashboard</h2>
  <ul>
    <li><a class="menu-link"><img src="assets/icones/prof.png">Geral</a></li>
    <li><a class="menu-link"><img src="assets/icones/aluno.png">Estudantes</a></li>
    <li><a class="menu-link"><img src="assets/icones/aluno.png">Funcionários</a></li>
    <li><a class="menu-link"><img src="assets/icones/matricula.png">Matrículas</a></li>
    <li><a class="menu-link"><img src="assets/icones/book.png">Cadeiras</a></li>
    <li><a class="menu-link"><img src="assets/icones/hora.png">Horários</a></li>
    <li><a class="menu-link"><img src="assets/icones/cale.png">Calendário</a></li>
    <li><a class="menu-link"><img src="assets/icones/mensagem.png">Chat</a></li>
    <li><a class="menu-link"><img src="assets/icones/comunicado.png">Comunicados</a></li>
    <li><a class="menu-link"><img src="assets/icones/conf.png">Configurações</a></li>
  </ul>
</div>

<div class="supbar">
  <h2>Configurações</h2>
</div>

<div class="main-content">
  <button class="action-button">Gerir Perfis</button>
  <div class="content-box">
    <div class="filtros">
      <select>
        <option disabled selected>Categoria</option>
        <option>Estudantes</option>
        <option>Professores</option>
        <option>Adm-Secretária</option>
      </select>
      <select>
        <option disabled selected>Ano Acadêmico</option>
        <option>1° ano</option>
        <option>2° ano</option>
        <option>3° ano</option>
        <option>4° ano</option>
        <option>5° ano</option>
      </select>
    </div>

    <div class="table-box">
      <h3>Gestão de Acessos</h3>
      <table class="tabela">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Número de Estudante</th>
            <th>Acesso</th>
            <th>Redefinir Senha</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let est of estudantes">
            <td>{{ est.nome }}</td>
            <td>{{ est.numero }}</td>
            <td>
              <select [(ngModel)]="est.acesso">
                <option>Ativo</option>
                <option>Inativo</option>
              </select>
            </td>
            <td>
              <a href="#" (click)="redefinirSenha(est); $event.preventDefault()">Redefinir</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
