
<body>
    <div class="chat-layout"> 
  
      <div class="chat-header">
        
      </div>
  
      <div class="message-form">
        <div class="form-field">
          <label for="recipient">Destinatário</label>
          <input id="recipient" [(ngModel)]="recipient" placeholder="Destinatário" />
        </div>
        
        <div class="form-field">
          <label for="subject">Assunto</label>
          <input id="subject" [(ngModel)]="subject" placeholder="Assunto" />
        </div>
        
        <div class="form-field">
          <label for="description">Descrição</label>
          <textarea id="description" [(ngModel)]="description" rows="5"></textarea>
        </div>
        
        <button class="send-message-btn" (click)="sendMessage()">Enviar Mensagem</button>
      </div>

  </div>
  
    
  </body>
  <app-lateral-professor></app-lateral-professor>