<div class="main-content">
  <div class="content-box">
    <div class="filtros">
      <select [(ngModel)]="filtroRole">
        <option disabled selected>Categoria</option>
        <option value="ESTUDANTE">Estudantes</option>
        <option value="PROFESSOR">Professores</option>
        <option value="ADMINISTRADOR">Adm</option>\
        <option value="SECRETARIA">Secretaria</option>
      </select>
    </div>

    <div class="table-box">
      <h3>Gestão de Acessos</h3>
   
      <table class="tabela">
        <thead>
          <tr>
            <th>Email</th>
            <th>Perfil</th>
            <th>Acesso</th>
            <th>Ação</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of usuariosFiltrados()">
            <td>{{ user.email }}</td>
            <td>{{ user.role }}</td>
            <td>{{ user.active ? 'Ativo' : 'Inativo' }}</td>
            <td>
              <button (click)="alternarAcesso(user)">
                {{ user.active ? 'Desativar' : 'Ativar' }}
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="pages">
        <div class="page-info">
          Página {{ paginaAtual }} de {{ totalPaginas }}
        </div>
      
        <div class="page-size">
          Itens por página:
          <select [(ngModel)]="tamanhoPagina" (change)="paginaAtual = 1; carregarUsuarios()">
            <option *ngFor="let tamanho of tamanhosPagina" [value]="tamanho">
              {{ tamanho }}
            </option>
          </select>
        </div>
      
        <div class="page-nav">
          <button (click)="paginaAtual > 1 && (paginaAtual = paginaAtual - 1); carregarUsuarios()" [disabled]="paginaAtual === 1">Anterior</button>
          <button (click)="paginaAtual < totalPaginas && (paginaAtual = paginaAtual + 1); carregarUsuarios()" [disabled]="paginaAtual === totalPaginas">Próxima</button>
        </div>
      </div>
      
     
    </div>
  </div>
</div>

<app-barralateral></app-barralateral>
