<div class="main-content">
  <div class="content-box">
    <div class="filtros">
      <select [(ngModel)]="filtroRole">
        <option disabled selected>Categoria</option>
        <option value="ESTUDANTE">Estudantes</option>
        <option value="PROFESSOR">Professores</option>
        <option value="ADMINISTRADOR">Adm</option>\
        <option value="SECRETARIA">Secretaria</option>
      </select>
    </div>

    <div class="table-box">
      <h3>Gestão de Acessos</h3>
      <table class="tabela">
        <thead>
          <tr>
            <th>Email</th>
            <th>Perfil</th>
            <th>Acesso</th>
            <th>Ação</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of usuariosFiltrados()">
            <td>{{ user.email }}</td>
            <td>{{ user.role }}</td>
            <td>{{ user.active ? 'Ativo' : 'Inativo' }}</td>
            <td>
              <button (click)="alternarAcesso(user)">
                {{ user.active ? 'Desativar' : 'Ativar' }}
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<app-barralateral></app-barralateral>
