<h2 style="text-align: center; margin-top: 20px;">Associação Professor x Disciplina</h2>

<!-- Botão para abrir o modal -->
<div style="text-align: center; margin-bottom: 10px;">
  
</div>

<!-- TABELA DE ASSOCIAÇÕES -->
<div style="overflow-x: auto;" class="container">
    <button (click)="abrirModal()" style="padding: 8px 16px;">+ Nova Associação</button>
  <table border="1" cellpadding="8" cellspacing="0" style="width: 100%; text-align: left;">
    <thead>
      <tr>
        <th>Nome do Professor</th>
        <th>Disciplina</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let assoc of associacoes">
        <td>{{ assoc.funcionarioNome }}</td>
        <td>{{ assoc.disciplinaNome }}</td>
        <td>
          <button (click)="removerAssociacao(assoc.id)">Remover</button>
          
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- MODAL -->
<div *ngIf="modalAberto" class="modal-overlay">
  <div class="modal-content">
    <h3>Nova Associação</h3>
    <div class="form">
        <select [(ngModel)]="novaAssociacao.id" class="form-control">
            <option value="">-- Selecione um Professor --</option>
            <option *ngFor="let prof of funcionarios" [value]="prof.id">
              {{ prof.nome }}
            </option>
          </select>
          

      <select [(ngModel)]="novaAssociacao.disciplinaId">
        <option value="">-- Selecione uma Disciplina --</option>
        <option *ngFor="let disciplina of disciplinas" [value]="disciplina.id">
          {{ disciplina.nome }}
        </option>
      </select>

      <div style="margin-top: 10px;">
        <button (click)="associarProfessor()">Salvar</button>
        <button (click)="fecharModal()" style="margin-left: 10px;">Cancelar</button>
      </div>
    </div>
  </div>
</div>

<app-barralateral></app-barralateral>
